<html>
  <head>
    <title>VideoKen</title>
  </head>

  <body>
    <div class="container">

      <div class="row">
        <% flash.each do |key, value| %>
          <% if value.class.eql?(Array)%>
            <% value = value.join(', ') %>
          <% end %>
          <div id="flash-message">
            <a class="close" data-dismiss="alert">&#215;</a>
            <div class="alert alert-<%= "flash #{key}" %>">
              <span class="flash-text"><%= value %></span>
            </div>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-md-6 dash-block grey">
          <div class="container-block">
            <p class="heading">PATIENT</p>
            <hr class="seperator" />
            </hr>
            <%= form_tag(create_user_path, method: :post) do %>
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Name" required /></br>
                <input type="email" class="form-control" name="email" placeholder="Email" required/></br>
                <input type="text" class="form-control" name="number" placeholder="Phone Number" />
                <input type="hidden" class="form-control" name="role" value="patient" />
              </div>
              <button type="submit" class="btn btn-warning btn-sm submit">Submit</button>
            <% end %>
          </div>
        </div>
        <div class="col-md-6 dash-block">
          <div class="container-block">
            <p class="heading">DOCTOR</p>
            <hr class="seperator" />
            </hr>
            <%= form_tag(create_user_path, method: :post) do %>
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Name" required /></br>
                <input type="email" class="form-control" name="email" placeholder="Email" required /></br>
                <input type="text" class="form-control" name="specialization" placeholder="Specialization"/>
                <input type="hidden" class="form-control" name="role" value="physician" />
              </div>
              <button type="submit" class="btn btn-warning btn-sm submit">Submit</button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 dash-block">
          <div class="container-block">
            <p class="heading">APPOINTMENT</p>
            <hr class="seperator" />
            </hr>
            <%= form_tag(create_appointment_path, method: :post) do %>
              <div class="">
                <%= select_tag(:physician_id, options_for_select(@doctors["data"].map {|doctor| [doctor["name"], doctor["id"]]}), { class:"form-control"} ) %></br>
                <%= select_tag :patient_id, options_for_select(@patients["data"].map {|patient| [patient["name"], patient["id"]]}), {class:"form-control"} %></br>
                <input type="textarea" class="form-control" name="diseases" placeholder="Diseases" required /></br>
              </div>
              <button type="submit" class="btn btn-warning btn-sm submit">Submit</button>
            <% end %>
          </div>
        </div>
        <div class="col-md-6 dash-block grey">
          <div class="container-block-extra-wide">
            <p class="heading">VIEW APPOINTMENTS</p>
            <hr class="seperator" />
            <div class="table-wrapper">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Doctor</th>
                    <th>Patient</th>
                    <th>Diseases</th>
                  </tr>
                </thead>
                <tbody>
                  <% @appointments["data"].each do |appointment| %>
                    <tr>
                      <td>Dr. <%= appointment["physician"]["name"] %></td>
                      <td><%= appointment["patient"]["name"] %></td>
                      <td><%= appointment["diseases"] %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
